@import "../../assets/styles/variables";

.job {
	padding: 8px;
	box-sizing: border-box;
	border: 1px solid #d4d4d4;
	cursor: pointer;

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	.job-top {
		display: flex;
		align-items: flex-end;

		.job-title {
			font-size: 20pt;
			color: $main-color;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 75%;
			overflow: hidden;
		}

		.job-type {
			flex: 0 0;
			flex-basis: auto;
			margin-left: auto;
			font-size: 12pt;
			color: $main-color;
		}
	}

	.job-location {
		display: inline-block;
		color: $main-color;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
	}

	.job-bottom {

		display: flex;

		.company {

			display: flex;
			max-width: 75%;
			color: $main-color;

			.grey-block	{
				background: #707070;
				height: 20px;
				width: 100px;
			}


			.company-logo {
				height: 20px;
				margin-left: 4px;
			}

			.company-title {
				display: inline-block;
				margin-left: 6px;
				color: $dark-blue;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		.job-date {
			margin-left: auto;
			font-size: 10pt;
			color: $main-color;
		}
	}
}