@import '../../assets/styles/variables';

.list-controls {
	display: flex;
	flex: 0 0 auto;
	bottom: 0;
	left: 0;
	right: 0;
	width: inherit;
	box-sizing: border-box;
	background-color: white;
	border-top: 1px solid $light-gray;
	justify-content: space-between;

	button {
		color: $main-color;
		transition: color .4s ease;

		&:disabled {
			transition: color .4s ease;
		}
	}

	.count-select {
		flex: 0 0 30%;
		margin: 0 16px;
	}
}