@import '../../assets/styles/variables';

.header	{
	display: flex;
	margin-bottom: 16px;
	border-bottom: 1px solid $light-gray;

	i {
		color: $main-color;
		cursor: pointer;
	}

	.search {

	}

	.sort {
		margin-left: auto;
	}
}