@import '../../assets/styles/variables';

.jobs-list {
	margin: 41px 0 49px;
	padding: 16px;

	.job-list-item {
		border: 1px solid $light-gray;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}