@import '../../assets/styles/variables';
@import '../../assets/styles/animation';

.jobs-list {
	padding: 16px;
	overflow-y: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;

	.job-list-item {
		border: 1px solid $light-gray;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	.list-items-wrapper {
		transition: opacity .4s ease-out;
	}

	.nothing-found {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $light-gray;
		transition: opacity .4s ease-out;
	}

	.spinner-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: opacity .4s ease-out;
	}

	@include transition-animation("show");
}